.barra-superior {
  padding-left: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 210px;
  width: 1146px;
  font-family: "Roboto";
  background-color: #fdf1eb;
  color: #725c5c;
  display: flex;
  align-items: center;
}

.titulo-geral,
.codigo {
  font-size: 14px;
}

h1 {
  font-size: 22px;
  margin: 1px 0px;
}

.idioma {
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  font-size: 14px;
  border-radius: 3px;
}

.globo {
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: 9px;
}
.dropdown {
  margin-left: 5px;
  margin-right: 14px;
}
