.barra-superior {
  padding-left: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 210px;
  width: 1146px;
  font-family: "Roboto";
  background-color: #fdf1eb;
}

.titulo-geral,
.codigo {
  font-size: 14px;
}

h1 {
  font-size: 22px;
  margin: 1px 0px;
}
