<div class="container">
  <div class="logo">
    <img src="../../assets/img/rodape/logo-galoa.png" class="imagem-logo">
    <div class="servicos">
      <div class="divisor"></div>
      <p>anais e proceedings</p>
      <div class="divisor"></div>
    </div>
    <button>Saiba mais</button>
  </div>
  <div class="texto">
    <p><span class="bold">Preservar a memória do evento e ampliar o acesso ao conhecimento científico</span> gerado em
      eventos é a razão de ser da plataforma Galoá Proceedings</p>
    <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a acomunidade científica, mantendo
      aceso
      o debate científico formentado pelos encontros e aumentando o impacto do evento.</p>
  </div>
</div>