<div class="topico">
  <p class="assunto">Assunto da pergunta aparece aqui</p>
  <p class="autor">Carlos Henrique Santos</p>
  <p class="conteudo">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
    impacto de processo formativo situado impacto de processo formativo processo...</p>
  <div class="info">
    <div class="mais-info">
      <div class="bolinha"></div>
      <div class="bolinha"></div>
      <div class="bolinha"></div>
    </div>
    <img src="../../assets/img/topico/favoritar.png" alt="">
    <span class="likes">1 like</span>
    <span class="respostas">1 resposta</span>
  </div>
  <app-comentario nome="Adriano da Silva"></app-comentario>
</div>