.topico {
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
  padding: 17px 24px;
  margin-bottom: 17px;
}

.assunto {
  color: #ed7839;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 3px;
}

.autor {
  color: #5c5c5c;
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 700;
}

.conteudo {
  margin-top: 10px;
  margin-bottom: 11px;
  color: #4d4d4d;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 400;
}

.info {
  font-family: "Segoe UI";
  font-weight: 300;
  font-size: 14px;
  display: flex;
}

.mais-info,
img,
.likes {
  margin-right: 15px;
}
.bolinha {
  width: 4px;
  height: 4px;
  background-color: #ed7839;
  margin: 0px;
  margin-top: 3px;
  border-radius: 50%;
}
