.assunto {
  color: #ed7839;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 700;
}

.autor {
  color: #5c5c5c;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 700;
}

.info {
  font-family: "Segoe UI";
  font-weight: 300;
  font-size: 14px;
  display: flex;
}

.bolinha {
  width: 4px;
  height: 4px;
  background-color: #ed7839;
  margin-top: 3px;
  border-radius: 50%;
}
