.painel-header {
  text-align: left;
}

.painel-body {
  padding: 15px;
  text-align: left;
  font-family: "Quicksand";
  color: #5c5c5c;
  font-size: 12px;
}
.autores {
  font-size: 14px;
}

.legenda {
  color: #ada0a0;
}
