<div class="formulario">
  <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
  <form (submit)="enviar($event)">
    <label for=" assunto">Assunto</label>
    <input type="text" class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">

    <label for="conteudo">Conteúdo</label>
    <textarea id="conteudo"></textarea>
    <div class="enviar">
      <button class="enviar-topico">Enviar</button>
    </div>
  </form>
</div>
<div class="divisoria-form"></div>