.comentario {
  padding: 18px 23px 45px;
}

.bg {
  background-color: #e7e7e7;
}

.topo {
  display: flex;
  justify-content: space-between;
}

.nome-cargo {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
