.container {
  width: 242px;
}

.painel-body {
  font-family: "Quicksand";
  color: #5c5c5c;
  font-size: 12px;
}

.citacao {
  color: #ed7839;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.caracteristicas {
  margin-top: 15px;
}

.autores {
  font-size: 14px;
}

.legenda {
  color: #ada0a0;
}
