<div class="container">
  <div class="botoes">
    <button class="download"><span class="fa fa-download"></span>Download</button>
    <button class="estrela"><span class="fa fa-star"></span></button>
    <button class="doi"><img src="../../assets/img/aside/doi.png" alt=""></button>
  </div>
  <p class="citacao">COMO CITAR ESSE TRABALHO?</p>
  <div class="detalhes painel">
    <div class="painel-header">
      <h3>Detalhes</h3>
    </div>
    <div class="painel-body">
      <ul class="caracteristicas">
        <li>Tipo de Apresentação: <span class="bold">Pôster</span></li>
        <li>Eixo temático: <span class="bold">Alimentação e saúde (AS)</span></li>
        <li>Palavras-chaves: <span class="bold">Alimentos funcionais, alimentação escolar.</span></li>
      </ul>
      <br>
      <span class="bold autores"> Autores:</span>
      <ul class="autores">
        <li>Galileo Galilei¹</li>
        <li>Berta Lange de Morretes²</li>
        <li>Isaac Newton³</li>
        <li>Cesar Lattes¹</li>
        <li>Stephen Hawking⁴</li>
      </ul>
      <br>

      <ul class="legenda">
        <li>¹Universidade Estadual de Campinas</li>
        <li>²Universidade de São Paulo</li>
        <li>³Instituto Nacional de Pesquisas Espaciais</li>
        <li>⁴Universidade Federal do Rio de Janeiro</li>

      </ul>
    </div>
  </div>
</div>