h2 {
  width: 783px;
  color: #ed7839;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.video-bg {
  width: 783px;
  height: 439px;
  background-image: url("../../assets/img/principal/poster.png");
  border-radius: 3px;
  margin-bottom: 30px;
}

.video-overlay {
  padding: 30px 43px 60px 30px;
  border-radius: 3px;
  width: 783px;
  height: 439px;
  background-color: hwb(21 2% 45% / 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

.titulo {
  line-height: 25px;
  letter-spacing: 1.2px;
}

.info-video {
  display: flex;
}

.imagem {
  border: 1px solid #ed7839;
  padding: 4px;
}

.imagem,
.imagem img {
  border-radius: 50%;
}

.dados {
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 17px;
}

.universidade {
  font-size: 20px;
}
