.painel {
  border: 1px solid #ececec;
}

.painel-header {
  padding: 15px;
  background-color: #fdf1eb;
  color: #4e4e4e;
}

.painel-header h3 {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 20px;
}

h4 {
  color: #ed7839;
  font-family: "Roboto";
  font-weight: 700;
}

.painel-body {
  text-align: center;
  padding: 15px 200px;
}

p {
  font-family: "Quicksand";
  font-size: 14px;
}

img {
  margin: 30px 50px;
}
