<div class="painel">
  <div class="painel-header">
    <h3>Discussões</h3>
  </div>
  <div class="painel-body">
    <app-formulario></app-formulario>
    <!-- <div class="criar-topico">
      <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>
      <div class="icones">
        <img class="icone" src="../../assets/img/discussoes/icone1.png" alt="">
        <img class="icone" src="../../assets/img/discussoes/icone2.png" alt="">
        <img class="icone" src="../../assets/img/discussoes/icone3.png" alt="">
      </div>
      <p>
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos
        ou
        sugestões para o autor!
      </p>
      <div class="divisoria"></div>
      <button (click)="criarTopico()"><img src="../../assets/img/discussoes/criar.png" alt="">criar tópico</button>
    </div> -->
    <div class="divisoria divisoria-form"></div>

    <app-topico></app-topico>
    <app-topico></app-topico>
  </div>
</div>