h4 {
  color: #ed7839;
  font-family: "Roboto";
  font-weight: 700;
  margin: 15px 310px 30px;
}

.criar-topico {
  text-align: center;
}

p {
  font-family: "Quicksand";
  font-size: 14px;
  margin: 0px 200px 30px;
}

.icones {
  margin: 30px 400px;
  display: flex;
  justify-content: space-evenly;
}

.divisoria {
  border: 1px #e7e7e7 solid;
  margin: auto;
}

.divisoria-form {
  margin-bottom: 30px;
}

button {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
  color: #fff;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: -15px;
  margin: auto;
  cursor: pointer;
}
