<div class="sidebar">
  <div class="nome">
    SLACA 2019</div>
  <img src="../../assets/img/logo.png" />
  <div>
    <ul>
      <li>Apresentação</li>
      <div class="divisor"></div>
      <li>Comitês</li>
      <div class="divisor"></div>
      <li>Autores</li>
      <div class="divisor"></div>
      <li>Eixos temáticos</li>
      <div class="divisor"></div>
      <div class="item-ativo">
        <div class="marcador-active"> </div>
        <li>Trabalhos</li>
      </div>
      <div class="divisor"></div>
      <li>Contato</li>
      <div class="divisor"></div>

    </ul>
  </div>
</div>