<div class="sidebar">
  <div class="nome">
    SLACA 2019</div>
  <div style="width: 220px; height: 258px; position: relative">
    <div style="width: 220px; height: 258px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <img style="width: 220px; height: 258px; left: 0px; top: 0px; position: absolute" src="../../assets/img/logo.png" />
  </div>
  <div style="width: 220px; height: 35px; position: relative">
    <ul>
      <li>Apresentação</li>
      <div class="divisor"></div>
      <li>Comitês</li>
      <div class="divisor"></div>
      <li>Autores</li>
      <div class="divisor"></div>
      <li>Eixos temáticos</li>
      <div class="divisor"></div>
      <div class="item-ativo">
        <div class="marcador-active"> </div>
        <li>Trabalhos</li>
      </div>
      <div class="divisor"></div>
      <li>Contato</li>
      <div class="divisor"></div>

    </ul>
  </div>
</div>