.painel-body {
  line-height: 20px;
  font-family: "Quicksand";
  font-size: 14px;
  padding: 15px;
  padding-top: 0;
  color: #5c5c5c;
}

.painel-body p {
  margin-top: 15px;
}

.controle-ver {
  color: #ed7839;
  cursor: pointer;
  font-weight: 500;
}
#mais {
  display: none;
}

#ver-menos {
  display: none;
}
