.painel {
  border: 1px solid #ececec;
}

.painel-header {
  padding: 15px;
  background-color: #fdf1eb;
  color: #4e4e4e;
}

h3 {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 20px;
}

.painel-body {
  line-height: 20px;
  font-family: "Quicksand";
  font-size: 14px;
  padding: 15px;
  color: #5c5c5c;
}

#ver-mais {
  color: #ed7839;
  cursor: pointer;
  font-weight: 500;
}

#mais {
  display: none;
}
