@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1146px;
  margin-left: 220px;
  border: 2px solid red;
}

main {
  margin: 25px 43px;
}
