@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1146px;
  margin-left: 220px;
}

main {
  padding: 25px 43px;
}

ul {
  list-style: none;
}

.principal-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
