@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1146px;
  margin-left: 220px;
  border: 2px solid red;
}

main {
  padding: 25px 43px;
}

.painel {
  border: 1px solid #ececec;
}

.painel-header {
  padding: 15px;
  background-color: #fdf1eb;
  color: #4e4e4e;
}

.painel-header h3 {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 20px;
}

.painel-body {
  padding: 0px 24px;
}

ul {
  list-style: none;
}

.principal-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
